/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: darkslategrey;
    color: white;
    padding: 1px 0px;
    text-align: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Main Content */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.banner {
    width: 50%;
    height: auto;
    border-radius: 8px;
    align-items: center;
    display: flex;
    justify-content: center;
}

img {
    display: block;
    margin: 0 auto;
}

h2 {
    color: #4CAF50;
    text-align: center;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
}

section {
    background-color: #f9f9f9;
    padding: 15px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

section h3 {
    color: #4CAF50;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input, form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

form button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #45a049;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 15px 0;
    background-color: #f1f1f1;
    margin-top: 20px;
    border-top: 1px solid #ccc;
}

/* Button Styles for Telegram */
button {
    background-color: #0088cc; /* Telegram color */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #007bb5; /* Darker shade for hover */
}
#about-us {
    text-align: center;
    padding: 20px;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-gallery img {
    margin: 10px;
    width: 150px; /* Adjust the size as needed */
    height: auto;
    border-radius: 8px; /* Optional: adds rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional: adds shadow effect */
}