body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #333;
}

header {
  background-color: #04c0fa;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin-right: 15px;
}

nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

main img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

footer {
  background-color: #333;
  color: rgb(251, 252, 251);
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
